{% extends "encyclopedia/layout.html" %}

{% block title %}
    New page
{% endblock %}

{% block body %}
    <h1>Add New Page</h1>

    <form method="post" action="{% url 'new' %}">
        {% csrf_token %}
        <p>{{ message }}</p>
        <div>
            <label>Title:</label>
            <input type="text" name="title" required>
        </div>
        <div>
            <label for="content">Content:</label>
            <br>
            <textarea id="content" name="content" style="height: 500px;" required></textarea>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
    

{% endblock %}